// Primary variable definitions
$black:         #1d2021;
$black-bis:     #3c3836;
$black-ter:     #504945;
$grey-darker:   #665c54;
$grey-dark:     #7c6f64;
$grey:          #928374;
$grey-light:    #a89984;
$grey-lighter:  #bdae93;
$grey-lightest: #d5c4a1;
$white-ter:     #ebdbb2;
$white-bis:     #fff8e7;
$white:         white;
$offblack:      #3c3836;
$red:           #cc241d;
$yellow:        #d79921;
$green:         #98971a;
$cyan:          #458588;
$blue:          #076678;
$purple:        #b16286;
$turquoise:     #689d6a;
$orange:        #fe8019;

$body-background-color: $white-bis;
$text: $black-ter;
$text-light: $grey-dark;
$text-strong: $black;
